<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Final</title>
</head>

<body>
	<h1>Quote #<%- quoteId %></h1>
	<div>
		<%- quote %>
	</div>
	<br>
    <a href="/">HOME</a>

</body>

</html>
