<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Final</title>
</head>

<body>
	<h1>Quote Generator</h1>
    <ul>
        <li>Generate a quote <a href="/generate">Generate</a></li>
        <li>View History <a href="/savedQuotes">History</a></li>
        <li>Clear History <a href="/removeAll">History</a></li>
    </ul>
</body>

</html>
