<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Generate a Quote</title>
    <style>
        h1 {
			display: inline;
			border: 3px dotted black;
			padding: 5px;
		}

        a {
            padding-left: 10px;
            color:darkblue;
        }
	
		a:hover {
			font-size: 1.2rem;
            color: red;
		}

        body {
            background-color: blanchedalmond;
        }

    </style>
</head>

<body>
	<h1>Quote Generator</h1>
    <br>
    <br>
    <br>
    <a href="/generate">Generate</a>
    <br>
    <a href="/saved">History</a>
    <br>
    <a href="/clearConfirm">Clear History</a>
</body>

</html>
