<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Final</title>
    <style>
        h1 {
			display: inline;
			border: 3px dotted black;
			padding: 5px;
		}
	
		a:hover {
			font-size: 1.2rem;
            color: red;
		}

        body {
            background-color: blanchedalmond;
        }

    </style>
</head>

<body>
	<h1>Quote Generator</h1>
    <ul>
        <li>Generate a quote <a href="/generate">Generate</a></li>
        <li>View History <a href="/savedQuotes">History</a></li>
        <li>Clear History <a href="/clearHistory">History</a></li>
    </ul>
</body>

</html>
