<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Final</title>
</head>

<body>
	<h1>Clear History</h1>
	<form action="http://localhost:<%- portNumber %>/removeAll" method="post">
		<input type="submit" value="Clear History"/>
	</form>
    <hr>
    <a href="/">HOME</a>
</body>

</html>
