<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Final</title>
</head>

<body>
	<h1>History Cleared</h1>
    <p>
        Number of quotes removed: <%- total %>
    </p>
    <br>
    <a href="/">HOME</a>
</body>

</html>
