<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>History</title>
</head>

<body>
	<h1>Quotes History</h1>
	<%- quotes %>
    <hr>
    <a href="/">HOME</a>
</body>

</html>
