<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>History</title>
    <style>
		h1 {
			display: inline;
			border: 3px dotted black;
			padding: 5px;
		}
	
		a:hover {
			font-size: 1.2rem;
		}
	
		body {
			background-color: aliceblue;
		}
	</style>
</head>

<body>
	<h1>Quotes History</h1>
	<br>
	<%- quotes %>
	<br>
    <hr>
    <a href="/">HOME</a>
</body>

</html>
